<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordZappPro 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3C344F31EF1D9C700690D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C3450C1EF1D9C800690D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C345171EF1D9C800690D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
